<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.min.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../css/style.css">

        <title>FalconFx Education Plans</title>
        <link rel="icon" type="image/x-icon" href="../falcon.ico">
    
        <script>
            function openPay(){
                document.getElementById("fixPay").style.display="block";
            }
            function closePay(){
                document.getElementById("fixPay").style.display="none";
            }
        </script>
    </head>
    <body>

        <div style="width: 100%;height:auto;">
            <div id="fixPay">
                <div class="fixed-con">
                    <div class="pay-wrap">
                        <div class="remove" onclick="closePay()"><img src="../image/cancel.png" class="img-fluid"></div>
                        <p class="heading" style="color: #202dbd;">Payment Method</p>
                        <div class="col-12 pay-mth light-font normal-txt" onclick="document.location.href='/deposit/bitcoin'"><div>Bitcoin</div> <div><img src="../image/bitcoin.png" style="height: 25px;width: auto;"></div></div>
                        <div class="liner"></div>
                        <div class="col-12 pay-mth light-font normal-txt" onclick="document.location.href='/deposit/ethereum'"><div>Ethereum</div> <div><img src="../image/ethereum.png" style="height: 25px;width: auto;"></div></div>
                        <div class="liner"></div>
                        <div class="col-12 pay-mth light-font normal-txt" onclick="document.location.href='/deposit/litecoin'"><div>Litecoin</div> <div><img src="../image/litecoin.png" style="height: 25px;width: auto;"></div></div>
                        <div class="liner"></div>
                        <div class="col-12 pay-mth light-font normal-txt" onclick="document.location.href='/deposit/bitcoincash'"><div>Bitcoin-Cash</div> <div><img src="../image/btc-cash.png" style="height: 25px;width: auto;"></div></div>
                        <div class="liner"></div>
                        <div class="col-12 pay-mth light-font normal-txt" onclick="document.location.href='/binance/pay'"><div>Visa / Master Card</div> <div><img src="../image/visa.png" class="payee" style="height: 25px;width: auto;"><img src="../image/master.png" style="height: 25px;width: auto;"></div></div>
                    </div>
                </div>
            </div>

            <div style="width: 100%;height: auto;position: relative;z-index: 0;">


                <!-- ----------#####---------- Navigation menu (Section) starts here ----------#####---------- -->
                        
                    <nav class="project-nav-menu fixed-top container-fluid" style="background-color: #f1f6fc;">
                        <div class="nav container fixed-top">
                            <input type="checkbox" id="nav-check">
                            <div class="nav-header">
                                <div class="nav-title" style="cursor: pointer;" onclick="document.location.href='/'">
                                    <img src="../image/falcon.png" style="width: 50px;height: 40px;margin-right: 7px;">FalconFx Education
                                </div>
                            </div>
                            <div class="nav-btn">
                                <label for="nav-check">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </label>
                            </div>
                    
                            <div class="nav-links">
                                <ul>
                                    <li class="nav-li-shift"><a class="head-anc" href="/">Home</a></li>
                                    <a href="/plan" class="get-started-btn nav-btn-shift">Education Pricing</a>
                                    <p class="res"></p><a href="/binance/authorization" class="get-started-btn nav-btn-shift">Binance Connect</a>
                                    <p class="res"></p><a href="/login" class="sign-btn nav-btn-shift">Sign In</a>
                                </ul>
                            </div>
                        </div>
                    </nav>

                <!-- Closed ----------#####---------- -->


            


                <!-- Chatbox -->
                <a href="https://t.me/markhutchinson_official" target="_blank"><div class="chatbox"><img src="../image/telegram.png" class="img-fluid" alt="" srcset=""></div></a>






                <!-- ----------#####---------- Header (Section) starts here ----------#####---------- -->
                
                    <header class="container" style="padding-top: 7.5em;">
                        <div class="row align-items-center">
                            <!-- Header right container -->
                            <div class="col-sm-12 col-md-10 col-lg-8 p-2 mx-auto">
                                <div class="header-ryt-container" style="text-align: center;">
                                    <h1 class="heading" style="color: #202dbd;">Education Membership Plans</h1>
                                    <p class="normal-txt light-font">
                                        On this Education system, you will have a one teacher to one student in-depth Trading tutorial using Google Meet. You have three options for the  membership plans, each will aim at teaching you to the best of their experienced. Also do NOTE that all of our team of traders have been taught and tested in the feild before presenting them to you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </header>
                    
                <!-- Closed ----------#####---------- -->
                        
                
                
                
                
                <!-- ----------#####---------- Investment Plans (Section) starts here ----------#####---------- -->
                
                    <section class="container-fluid section-general">
                        <div class="container">
                            <div class="row">
                                
                                <!-- Investment Plans card container -->
                                <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                                    <div class="invest-card">
                                        <div class="invest-card-content light-font">Teachers with 5-18 Years Experience </div>
                                        <h4  class="mb-3 heading light-font" style="line-height: 1.1;">$800</h4>
                                        <p class="normal-txt heading-sm light-font" style="line-height: 0.55;">Full FalconFx eMeet Tutorial</p>
                                        <p class="btn-auto"><a onclick="openPay()" class="dark-btn" style="color: #fff;margin-top: 0.85rem;padding: 12px  22.5px 10.55px  22.5px;">Select Plan</a></p>
                                        <div class="col-12 card-line"></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div style="display: flex;align-items: center;"> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Falcon Foundation Series</div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Advanced Falcon Trader (AFT) </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Trader Strategy Handbook </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Sunday Market Breakdown </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Midweek Market Reviews </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Weekly Trade Recaps </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Monthly Webinar </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Weekly Foundation Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live BiWeekly Backtesting Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Global Exclusive Community </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Member Only eMeetups </div></div>
                                    </div>
                                </div>
                                
                                <!-- Investment Plans card container -->
                                <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                                    <div class="invest-card">
                                        <div class="invest-card-content light-font">Teachers with 18-29 Years Experience</div>
                                        <h4  class="mb-3 heading light-font" style="line-height: 1.1;">$2,000</h4>
                                        <p class="normal-txt heading-sm light-font" style="line-height: 0.55;">Full FalconFx eMeet Tutorial</p>
                                        <p class="btn-auto"><a onclick="openPay()" class="dark-btn" style="color: #fff;margin-top: 0.85rem;padding: 12px  22.5px 10.55px  22.5px;">Select Plan</a></p>
                                        <div class="col-12 card-line"></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div style="display: flex;align-items: center;"> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Falcon Foundation Series</div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Advanced Falcon Trader (AFT) </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Trader Strategy Handbook </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Sunday Market Breakdown </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Midweek Market Reviews </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Weekly Trade Recaps </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Monthly Webinar </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Weekly Foundation Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live BiWeekly Backtesting Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Global Exclusive Community </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Member Only eMeetups </div></div>
                                    </div>
                                </div>
                                
                                <!-- Investment Plans card container -->
                                <div class="col-sm-12 col-md-6 col-lg-4 p-2 mx-auto">
                                    <div class="invest-card">
                                        <div class="invest-card-content light-font">Mark Hutchinson</div>
                                        <h4  class="mb-3 heading light-font" style="line-height: 1.1;">$5,000</h4>
                                        <p class="normal-txt heading-sm light-font" style="line-height: 0.55;">Full FalconFx eMeet Tutorial</p>
                                        <p class="btn-auto"><a onclick="openPay()" class="dark-btn" style="color: #fff;margin-top: 0.85rem;padding: 12px  22.5px 10.55px  22.5px;">Select Plan</a></p>
                                        <div class="col-12 card-line"></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div style="display: flex;align-items: center;"> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Falcon Foundation Series</div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Advanced Falcon Trader (AFT) </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Trader Strategy Handbook </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Sunday Market Breakdown </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Midweek Market Reviews </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Weekly Trade Recaps </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Monthly Webinar </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live Weekly Foundation Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Live BiWeekly Backtesting Webinars </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Global Exclusive Community </div></div>
                                        <div class="col-12 card-details light-font normal-txt shift"><div> <img src="../image/checked.png" alt="" style="height: 20px;width: 20px;margin-right: 12.5px;"> Member Only eMeetups </div></div>
                                    </div>
                                </div>


                                <p class="heading-plan" style="color: #202dbd;padding-top: 55px;">Disclaimer:</p>
                                <p class="normal-txt light-font">
                                    Prices advertised above are exclusive of value added tax (VAT). VAT will therefore be added at checkout on applicable purchases only.
                                </p>

                            </div>
                        </div>
                    </section>

                <!-- Closed ----------#####---------- -->


                <div class="col-12 normal-txt" style="margin: 5em 0 3em 0;text-align: center;">© FalconFX Education 2022. All rights reserved.</div>



            </div>


        </div>


    </body>
    
    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="script/jquery.js"></script>
	<script src="../node/bootstrap/dist/js/bootstrap.js"></script>

</html>