<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Google fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
		
		<!-- Bootstrap css cdn link -->
		<link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">

		<link rel="stylesheet" href="../css/style.css">

        <title>Binance Success</title>
        <link rel="icon" type="image/x-icon" href="../falcon.ico">
        <style>
            *{
                margin: 0px;
                padding: 0px;
            }
            .parent{
                background-color: #535C82;
                height: 100%;
                position: fixed;
                width: 100%;
            }
            .shift{
                height: 5.5em;
                position: static;
                width: 100%;
            }
            .container{
                background-color: transparent;
                display: flex;
                flex-direction: column;
                margin: auto;
                height: auto;
                position: relative;
                width: auto;
            }
            .img-con{
                backdrop-filter: blur(10px);
                background-color: rgba(64, 134, 84, 0.625);
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-top: 30px;
                padding: 27.5px;
                height: 135px;
                position: relative;
                width: 135px;
            }
            .circle, .good{
                stroke: #ebebeb;
                stroke-width: 3.5;
                stroke-dasharray: 3500;
                stroke-dashoffset: 0;
            }
            .good{
                animation: padda 3s ease-in;
            }
            .circle{
                animation: padda 2.25s ease-in;
            }
            @keyframes padda{
                0%{
                    stroke-dashoffset: 3500;
                    fill: transparent;
                }
                50%{
                    fill: transparent;
                }
                100%{
                    stroke-dashoffset: 0;
                    fill: #ebebeb;
                }
            }


            .fadeUp{
                animation-name: fadeUp;
                animation-duration: 1s;
                animation-fill-mode: both;
            }

            @keyframes fadeUp{
                from{
                    opacity: 0;
                    transform: translateY(15%);
                }

                to{
                    opacity: 1;
                    transform: none;
                }
            }

            .upper-txt{
                animation-delay: 1.75s;
                color: rgb(0, 202, 68);
                font-size: 1.4em;
                font-weight: bold;
                letter-spacing: 1px;
                padding-left: 5%;
                padding-top: 25px;
                padding-right: 5%;
                text-align: center;
            }
            .lower-txt-1{
                animation-delay: 2s;
                font-size: 0.925em;
                letter-spacing: 1px;
                padding-top: 20px;
                padding-left: 5%;
                padding-right: 5%;
                text-align: center;
            }
            .lower-txt-2{
                animation-delay: 2.25s;
                color: #fff;
                font-size: 0.925em;
                letter-spacing: 1px;
                padding-top: 12.5px;
                padding-left: 5%;
                padding-right: 5%;
                text-align: center;
            }
            .anc{
                color: #ffd631;
                text-decoration: underline;
            }
            .anc:hover{
                color: #ffd631;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="parent">

            <!-- ----------#####---------- Navigation menu (Section) starts here ----------#####---------- -->
                    
                <nav class="project-nav-menu fixed-top container-fluid" style="background-color: #fff;">
                    <div class="nav container fixed-top" style="display: flex;flex-direction: row;justify-content: space-between;">
                        <div class="nav-header">
                            <div class="nav-title" style="cursor: pointer;" onclick="document.location.href='/'">
                                <img src="../image/falcon.png" style="width: 50px;height: 40px;margin-right: 7px;">FalconFx Education
                            </div>
                        </div>
                        <div style="margin-top: 7px;">
                            <a href="/plan" style="background-color: #335aff;color: #fff;" class="get-started-btn nav-btn-shift">Go Back</a>
                        </div>
                    </div>
                </nav>

            <!-- Closed ----------#####---------- -->





            <div class="shift"></div>
            <div class="container">
                <div class="img-con">
                    <?xml version="1.0"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" 
                    version="1.1" width="70%" height="70%" style="margin:auto;" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" 
                    xml:space="preserve" class=""><g>
                        <g xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path class="good" d="M497.36,69.995c-7.532-7.545-19.753-7.558-27.285-0.032L238.582,300.845l-83.522-90.713    
                                c-7.217-7.834-19.419-8.342-27.266-1.126c-7.841,7.217-8.343,19.425-1.126,27.266l97.126,105.481    
                                c3.557,3.866,8.535,6.111,13.784,6.22c0.141,0.006,0.277,0.006,0.412,0.006c5.101,0,10.008-2.026,13.623-5.628L497.322,97.286    
                                C504.873,89.761,504.886,77.54,497.36,69.995z" fill="#ebebeb" data-original="#000000"/>
                            </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path class="circle" d="M492.703,236.703c-10.658,0-19.296,8.638-19.296,19.297c0,119.883-97.524,217.407-217.407,217.407    
                                c-119.876,0-217.407-97.524-217.407-217.407c0-119.876,97.531-217.407,217.407-217.407c10.658,0,19.297-8.638,19.297-19.296    
                                C275.297,8.638,266.658,0,256,0C114.84,0,0,114.84,0,256c0,141.154,114.84,256,256,256c141.154,0,256-114.846,256-256    
                                C512,245.342,503.362,236.703,492.703,236.703z" fill="#ebebeb" data-original="#000000"/>
                            </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g></g>
                    </svg>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-11 col-md-9 col-lg-7 mx-auto">
                            <p class="upper-txt fadeUp">Your crypto transaction is being reviewed!</p>
                            <p class="lower-txt-1 fadeUp" style="color: #fff;">When the transaction gets approved. We will message you by your Email attached to yor transaction proof. </p>
                            <p class="lower-txt-2 fadeUp" style="text-align: center;">Please do well to contact our customer care if you are not responded to in the next 30 minutes. <a href="/" class="anc">Go to home.</a> </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

	<!-- Bootstrap javascript cdn link -->
	<script src="../node/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../jquery/jquery.js"></script>
    
</html>