<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <!-- Swiper javascript cdn link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="node/bootstrap/dist/css/bootstrap.min.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="css/style.css">

        <title>FalconFx Education</title>
        <link rel="icon" type="image/x-icon" href="falcon.ico">
    </head>
    <body>
        




        <!-- Nav-bar -->
        <%- include('partial/navbar') %>



      

        <!-- ----------#####---------- Header (Section) starts here ----------#####---------- -->
        
            <header class="container-fluid header-con">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Header right container -->
                        <div class="col-sm-12 col-md-8 col-lg-6 p-2 mx-auto">
                            <div class="header-ryt-container tab-align">
                                <h1 class="heading" style="color: #202dbd;">MASTER YOUR TRADING PSYCHOLOGY</h1>
                                <p class="normal-txt light-font">
                                    Enroll in FalconFx one to one online Google Meet tutorial with Mark Hutchinson. Embark on our in-depth trading psychology journey.
                                </p>
                                <a href="/plan" class="heading-btn">Enroll Now</a>
                            </div>
                        </div>

                        <!-- Header right container -->
                        <div class="col-sm-12 col-md-7 col-lg-6 p-2 mx-auto">
                            <div class="falcon">
                                <img src="image/head.png" class="img-fluid" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Youtube video (Section) starts here ----------#####---------- -->

            <section class="container-fluid section-general" style="background-color: #535C82;">
                <div class="container">
                    <div class="row" id="abt-us" style="align-items: center;">
                        <div class="col-sm-10 col-md-8 col-lg-5 mx-auto">
                            <div class="header-ryt-container">
                                <iframe width="100%" height="275" style="border:2px solid #202dbd;" src="https://www.youtube.com/embed/XE4LQqPWVFk"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-5 mx-auto">
                            <div class="header-ryt-container" style="text-align: center;">
                                <h3 class="section-large-txt white-font">Find out how Falcon students Daniel and Andrea changed their lives trading our strategy!</h3>
                                <p><a href="https://t.me/FalconFX_Guidance" target="_blank" class="heading-btn">Join Telegram Community</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Earn Profits (Section) starts here ----------#####---------- -->

            <section class="container-fluid why-wrap section-general" style="background-color: #f1f6fc;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="" style="text-align: center;">
                                <h3 class="section-large-txt">Our Google Meet Tutorial</h3>
                                <p class="normal-txt light-font">
                                    You get to learn our simple & systemized Trading strategy from Mark Hutchinson through Google Meet
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="earn-card why-background align-items-center">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12  col-lg-2 p-2">
                                        <div class="svg-container">
                                            <img src="image/meet.png" alt="Earn Image" srcset="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-11 col-lg-10 p-2 align-items-center">
                                        <div class="card-lg-txt">One to One Meet Classes</div>
                                        <div class="card-txt why-txt">
                                            You get an exclusive e-class where the whole of Mark Hutchinson's focus will
                                            be on you, an impactful 1 hour class daily till you finish the course.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="earn-card why-background align-items-center">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12  col-lg-2 p-2">
                                        <div class="svg-container">
                                            <img src="image/notification.png" alt="Earn Image" srcset="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-11 col-lg-10 p-2 align-items-center">
                                        <div class="card-lg-txt">Private Trading Community</div>
                                        <div class="card-txt why-txt">
                                            You also get access to join the thousands of new and experienced traders 
                                            who are already learning and growing everyday with our global educational platform.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="earn-card why-background align-items-center">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12  col-lg-2 p-2">
                                        <div class="svg-container">
                                            <img src="image/monitor.png" alt="Earn Image" srcset="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-11 col-lg-10 p-2 align-items-center">
                                        <div class="card-lg-txt">Falcon Refinement Series</div>
                                        <div class="card-txt why-txt">
                                            Beginner to Advanced Trading course that covers the A-Z of the mechanics of 
                                            the trading charts, the Falcon FX strategy, and everything else you need to scale your trading.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="earn-card why-background align-items-center">
                                <div class="row">
                                    <div class="col-sm-2 col-md-12 col-lg-2 p-2">
                                        <div class="svg-container">
                                            <img src="image/rocket.png" alt="Earn Image" srcset="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-12 col-lg-10 p-2 align-items-center">
                                        <div class="card-lg-txt">Road to 7 Figures</div>
                                        <div class="card-txt why-txt">
                                            Designed for intermediate to advanced traders looking for an 
                                            accelerated route to profitable trading in the Trading Markets.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Testimonials (Section) starts here ----------#####---------- -->
        
            <section class="container-fluid testi-con section-general">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 style="color: #3e3e3d;">Testimonials</h2>
                                <p style="color: #3e3e3d;">Don't take our word for it. Here's what some of our clients have to say about us.</p>
                            </div>
                        </div>
                        <div class="testimonials-carousel-wrap">
                            <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
                            <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
                            <div class="testimonials-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="testi-item">
                                                <div class="testi-avatar"><img src="image/test2.jpg"></div>
                                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                                <div class="testimonials-text">
                                                    <div class="listing-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p style="font-size: 1em;">
                                                        My life has truly transformed after I joined FalconFX Education at 18 of age. After a little more than a year, I have a pretty clear idea of where I want to go in life and how I'm going to get there.
                                                    </p>
                                                    <a href="#" class="text-link"></a>
                                                    <div class="testimonials-avatar">
                                                        <h3>Martha</h3>
                                                        <h4>Model</h4>
                                                    </div>
                                                </div>
                                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                            </div>
                                        </div>
                    
                                        <!--second--->
                                        <div class="swiper-slide">
                                            <div class="testi-item">
                                                <div class="testi-avatar"><img src="image/test1.jpg"></div>
                                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                                <div class="testimonials-text">
                                                    <div class="listing-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p style="font-size: 1em;">
                                                        FalconFX Education Google Meet Tutorial is te best of all the education system FalconFx offers. It's only you and him without distraction.
                                                    </p>
                                                    <a href="#" class="text-link"></a>
                                                    <div class="testimonials-avatar">
                                                        <h3>Tuchel</h3>
                                                        <h4>Engineer</h4>
                                                    </div>
                                                </div>
                                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                            </div>
                                        </div>
                                        <!--third-->
                    
                                        <div class="swiper-slide">
                                            <div class="testi-item">
                                                <div class="testi-avatar"><img src="image/test3.jpg"></div>
                                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                                <div class="testimonials-text">
                                                    <div class="listing-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p style="font-size: 1em;">
                                                        FalconFX Trading psychologys already, has shown no doubt to be one of the bestif not the best. If not the best? That's beacause of their One to One Google classes 
                                                    </p>
                                                    <a href="#" class="text-link"></a>
                                                    <div class="testimonials-avatar">
                                                        <h3>Freddy</h3>
                                                        <h4>Marketer</h4>
                                                    </div>
                                                </div>
                                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                            </div>
                                        </div>
                    
                                        <!--fourth-->
                                        <div class="swiper-slide">
                                            <div class="testi-item">
                                                <div class="testi-avatar"><img src="image/test4.jpg"></div>
                                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                                <div class="testimonials-text">
                                                    <div class="listing-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p style="font-size: 1em;">
                                                        I recommend FalconFX Trade because they are consistent, have good investment 
                                                        system, instant withdrawal and good Support system.
                                                    </p>
                                                    <a href="#" class="text-link"></a>
                                                    <div class="testimonials-avatar">
                                                        <h3>Santos</h3>
                                                        <h4>Fashionist</h4>
                                                    </div>
                                                </div>
                                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                            </div>
                                        </div>
                                        <!--testi end-->
                    
                                    </div>
                                </div>
                            </div>
                    
                            <div class="tc-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
        
        <!-- Closed ----------#####---------- -->
        




        <div style="height: 2em;width: 100%;position: relative;"></div>





        <!-- ----------#####---------- Youtube video (Section) starts here ----------#####---------- -->

            <section class="container-fluid section-general" style="background-color: #535C82;padding-top: 3.15em;overflow: hidden;">
                <div class="container">
                    <div class="row" id="abt-us" style="align-items: center;">
                        <div class="col-sm-10 col-md-9 col-lg-8 mx-auto">
                            <div class="header-ryt-container" style="text-align: center;">
                                <h3 class="section-large-txt white-font">Over 10k+ total students in 180+ countries impacted by our one to one Google Meet tutorial with Mark Hutchinson. At FalconFx Education, You are VIP.</h3>
                                <a href="plan" class="heading-btn">Enroll Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Youtube video (Section) starts here ----------#####---------- -->

            <section class="container-fluid">
                    <div class="row" style="align-items: center;">

                        <div class="col-sm-12 col-md-4 col-lg-4 p-3" style="background-color: #f1f6fc"y>
                            <div class="earn-card why-background align-items-center">
                                <div class="container">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-3">
                                            <div class="svg-container" style="margin: auto;">
                                                <img src="image/dell.png" alt="Earn Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-2 align-items-center">
                                            <div class="card-lg-txt">1,000+ Hours of Content</div>
                                            <div class="card-txt why-txt">
                                                Study thousands of hours worth of content from our Falcon Foundation Series, Falcon Quick Tips and more from our One to One Tutorial.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-4 p-3" style="background-color: #fff">
                            <div class="earn-card why-background align-items-center">
                                <div class="container">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-3">
                                            <div class="svg-container" style="margin: auto;">
                                                <img src="image/group.png" alt="Earn Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-2 align-items-center">
                                            <div class="card-lg-txt">30+ Years of Combined Experience</div>
                                            <div class="card-txt why-txt">
                                                Our team of coaches have over 30 years of combined experience, meaning you are learning from the very best.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-4 p-3" style="background-color: #f1f6fc"y>
                            <div class="earn-card why-background align-items-center">
                                <div class="container">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-3">
                                            <div class="svg-container" style="margin: auto;">
                                                <img src="image/hand-shake.png" alt="Earn Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12 p-2 align-items-center">
                                            <div class="card-lg-txt">World-Class Support</div>
                                            <div class="card-txt why-txt">
                                                Our team and community operates 24/7, providing you with the support you need around the clock.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Footer (Section) starts here ----------#####---------- -->
    
            <footer class="container-fluid foot-wrap section-general" style="background-color: #fff">
                <div class="container">
                    <div class="row" style="display: flex;align-items: center;">
                        <!-- Payment method container -->
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="pay-container">
                                <h4 class="card-lg-txt card-lg-txt-foot">Payment Methods</h3>
                                <p class="normal-txt dark-font">
                                    FalconFX Trade accept payments from Master or Visa card using <span  class="font-span"><img src="image/binance.png" alt="" class="footer-icon"> Binance-Pay,</span> <span class="font-span"><img src="image/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                                    <span class="font-span"><img src="image/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                                    <img src="image/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and <span class="font-span"><img src="image/litecoin.png" alt="" class="footer-icon"> Litecoin</span> as Payment Methods.
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                        <div class="footer-info-icon"><img src="image/telegram.png" alt="" class="img-fluid"></div>
                                        <div class="footer-info-line"></div>
                                        <div class="normal-txt info-foot-txt"><a href="https://t.me/FalconFX_Guidance" target="_blank" class="foot-link">Telegram Channel</a></div>
                                    </div>
                                    <div class="footer-info col-sm-12 col-md-12 col-lg-12">
                                        <div class="footer-info-icon"><img src="image/gmail.png" alt="" class="img-fluid"></div>
                                        <div class="footer-info-line"></div>
                                        <div class="normal-txt info-foot-txt"><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvbGcNltKkjCZbmjZDbgrbknvLjhtTLsDzgRqKvwnntckddlpVcbvntCCXmldTBgmXbDGV" target="_blank" class="foot-link">FalconFXTrade8@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-4 foot-bot">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                        <div class="footer-info-icon"><img src="image/telegram.png" alt="" class="img-fluid"></div>
                                        <div class="footer-info-line"></div>
                                        <div class="normal-txt info-foot-txt"><a href="https://t.me/markhutchinson_official" target="_blank" class="foot-link">Telegram Support</a></div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                            <div class="copy-right-txt" style="margin: 0 auto;">© FalconFX Education 2022. All rights reserved.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        <!-- Closed ----------#####---------- -->





    </body>
    
    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="script/jquery.js"></script>
    <script src="node/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- Swiper javascript cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script>
        // Testimonial slider script start
        //   all ------------------
        function initParadoxWay() {
            "use strict";
        
            if ($(".testimonials-carousel").length > 0) {
                var j2 = new Swiper(".testimonials-carousel .swiper-container", {
                    preloadImages: false,
                    slidesPerView: 1,
                    spaceBetween: 20,
                    loop: true,
                    grabCursor: true,
                    mousewheel: false,
                    centeredSlides: true,
                    pagination: {
                        el: '.tc-pagination',
                        clickable: true,
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.listing-carousel-button-next',
                        prevEl: '.listing-carousel-button-prev',
                    },
                    breakpoints: {
                        767: {
                            slidesPerView: 2,
                        },
                        1024: {
                            slidesPerView: 3,
                        },
                        
                    }
                });
            }
            
        // bubbles -----------------
            
            
            setInterval(function () {
                var size = randomValue(sArray);
                $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
                $('.individual-bubble').animate({
                    'bottom': '100%',
                    'opacity': '-=0.7'
                }, 4000, function () {
                    $(this).remove()
                });
            }, 350);
            
        }

        //   Init All ------------------
        $(document).ready(function () {
            initParadoxWay();
        });
        // Testimonial slider script end

    </script>
    <!-- Counter script end -->


</html>