<!-- ----------#####---------- Navigation menu (Section) starts here ----------#####---------- -->
                
<nav class="project-nav-menu fixed-top container-fluid" style="background-color: #f1f6fc;">
    <div class="nav container fixed-top">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title" style="cursor: pointer;" onclick="document.location.href='/'">
                <img src="image/falcon.png" style="width: 50px;height: 40px;margin-right: 7px;">FalconFx Education
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <ul>
                <li class="nav-li-shift"><a class="head-anc" href="/">Home</a></li>
                <a href="/plan" class="get-started-btn nav-btn-shift">Education Pricing</a>
                <p class="res"></p><a href="/binance/authorization" class="get-started-btn nav-btn-shift">Binance Connect</a>
                <p class="res"></p><a href="/login" class="sign-btn nav-btn-shift">Sign In</a>
            </ul>
        </div>
    </div>
</nav>

<!-- Closed ----------#####---------- -->





<!-- Chatbox -->
<a href="https://t.me/markhutchinson_official" target="_blank"><div class="chatbox"><img src="image/telegram.png" class="img-fluid" alt="" srcset=""></div></a>